@{
    ViewBag.Title = "Database Connection Error";
}

<h1>Database Connection Error</h1>
<p>Cannot connect to the database. Please try again later or contact the IT Department - Systems Development Gaming Division for assistance.</p>
