@model vmEmployeeHealthRecord



<div>
    <br />
    <table id="mwrDetailsTable" class="table table-striped table-hover" style="width:100%">
        <thead>
            <tr>
                <th>#</th>
                <th>MWR Date</th>
                <th>Activity Name</th>
                <th>Activity Type</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>






